p{
	color:darkblue;
	font-style:italic;
	font-weigt:bold;
	text-align: center;
	font-family: Courier;
	background-color:floralwhite;
	
}


h1{
	text-align: center;
	color:red;
}
h3{
	color: darkblue;
	text-align: center;
}

h4{
	color: darkblue;
	text-align: center;
}